
services:
  frontend:
    build:
      context: ./frontend
    container_name: frontend_resource
    environment:
      - CHOKIDAR_USEPOLLING=true
    ports:
      - "3000:3000"
    depends_on:
      - backend
    networks:
      - app-network

  backend:
    build:
      context: ./backend
    container_name: backend_resource
    ports:
      - "5000:5000"
    env_file:
      - ./backend/.env
    networks:
      - app-network

  nginx:
    container_name: nginx
    restart: unless-stopped
    image: nginx:alpine
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
      - ./nginx/certs:/etc/nginx/certs
    depends_on:
      - frontend
      - backend
    networks:
      - app-network

######### You Can use self-hosted MongoDB by uncommenting the following lines #########
######### Using a cloud-hosted MongoDB Atlas is recommended for production #########
  # mongo:
  #   image: mongo
  #   ports:
  #     - "27017:27017"
  #   volumes:
  #     - mongo-data:/data/db

networks:
  app-network:
    driver: bridge


volumes:
 mongo-data:
